.about-header {
  font-size: 5rem;
  padding-top: 3vh;
}

.about-container {
  display: flex;
}

.about-text-container {
  width: 65%;
  padding-top: 2%;
  padding-left: 5%;
  font-size: 1.25rem;
  line-height: 40px;
}

.about-text-container .author {
  font-weight: bold;
  color: var(--main-color);
  font-size: 2rem;
}

.about-img-container {
  width: 35%;
  padding-left: 6%;
}

.about-img-container img {
  width: 100%;
  margin-top: 12%;
  object-fit: cover;
}

.about-text-container ul {
  margin-left: 5%;
}
