.anime-container {
  color: white;
  display: grid;
  grid-template-columns: 40% 1fr;
  align-items: center;
  padding: 3vh 5vw;
}

.anime-img {
  height: 80vh;
}
.anime-title-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80vh;
}

.anime-img img {
  border-radius: 10px;
  height: 100%;
}
.anime-title-btn {
  color: white;
  width: 100%;
  border: none;
  background-color: transparent;
  text-align: start;
  cursor: pointer;
  transition: all 0.15s;
}

.anime-tile-number {
  font-weight: bold;
  font-size: 2rem;
}
.anime-tile-name {
  font-weight: bold;
  font-size: 3rem;
}

.anime-title-btn:hover {
  color: rgb(163, 163, 163);
}
.anime-title-btn:active {
  transform: translateX(10px);
}

@media (max-width: 1500px) {
  .anime-title-group {
    width: 80%;
    margin-left: 100px;
  }
  .anime-img img {
    width: 100%;
    object-fit: cover;
  }
  .anime-tile-number {
    font-size: 1.5rem;
  }
  .anime-tile-name {
    font-size: 2.5rem;
  }
}
@media (max-width: 800px) {
  .anime-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .anime-title-group {
    width: 100%;
    margin-top: 10px;
    margin-left: 0px;
  }
  .anime-img {
    width: 90vw;
    height: 50vh;
  }
}
@media (max-width: 600px) {
  .anime-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .anime-title-group {
    width: 90%;
    margin-top: 20px;
    margin-left: 0px;
  }
  .anime-img {
    width: 90vw;
    height: 50vh;
  }
  .anime-tile-number {
    font-size: 1.5rem;
  }
  .anime-tile-name {
    font-size: 2rem;
  }
}
