.arc-header {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10vh 0;
}

.arc-header .container {
  width: 100%;
  height: 100%;
  background-position: center;
  background-image: url("/img/anime-header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 50%;
  border-radius: 10px;
}

.arc-header h1 {
  position: absolute;
  font-size: 8rem;
  text-align: center;
  opacity: 100%;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.816);
}

.arc-header a {
  text-decoration: none;
  color: white;
}
