.footer {
  padding: 2vh 5vw;
  margin-top: 5vh;
  background-color: rgb(20, 19, 19);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  color: white;
}

.footer .about-author {
  width: 100%;
  padding: 30px;
}
.footer .author-name {
  color: var(--main-color);
}
.footer .about-author .p1 {
  margin: 10px 0;
}
.footer .mini-nav {
  /* background-color: rgb(0, 255, 21); */
  width: 100%;
  display: flex;
  flex-direction: column;
  
  justify-content: space-between;
  padding: 30px;
}
.footer .mini-nav a {
  text-decoration: none;
  color: white;
}

.footer .tech {
  width: 100%;
  padding: 30px;
}

.footer .tech .fa-brands {
  margin: 20px;
  margin-left: 0;
  font-size: 40px;
}

@media (max-width: 600px) {
  .footer {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .footer .mini-nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .footer .mini-nav a {
    text-decoration: none;
    color: white;
    margin: 10px 0;
  }
}
