@import url(home.css);
@import url(about.css);
@import url(anime.css);
@import url(anime-header.css);
@import url(manga.css);
@import url(songs.css);
@import url(footer.css);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Red Hat Display", sans-serif;
  scroll-behavior: smooth;
}
body {
  background-color: var(--second-color);
}

:root {
  --main-color: #e84545;
  --second-color: #1c1d22;
  --third-color: #53354a;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(50px);
  transition: all 0.8s ease;
}

.animate {
  opacity: 1;
  transform: translateY(0);
  filter: none;
}