@import url(home.css);
@import url(about.css);
@import url(anime.css);
@import url(anime-header.css);
@import url(manga.css);
@import url(songs.css);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Red Hat Display", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --main-color: #e84545;
  --second-color: #1c1d22;
  --third-color: #53354a;
}

main {
  position: absolute;
  margin-top: 95vh;
  padding: 5vh 9vw;
  background-color: var(--second-color);
  color: white;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  width: 99.1vw;
}
