.manga-button {
  display: none;
  width: 90%;
  margin: 100px auto;
  text-align: center;
  cursor: pointer;
  font-size: 2rem;
  transition: all 0.3s;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: var(--main-color);
}
.manga-button a {
  text-decoration: none;
  color: var(--second-color);
  font-weight: bold;
}
.manga-section {
  width: 90%;
  margin: 0 auto;
  color: white;
  border: 2px white solid;
  border-radius: 10px;
  text-align: center;
  margin-top: 15vh;
}

.manga-header {
  font-size: 6rem;
  margin: -8vh auto 0;
  background-color: var(--second-color);
  width: 30%;
  /* align-self: center; */
}

.manga-group {
  padding: 5vh 2vw;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  justify-items: center;
  gap: 2vw;
}
@media (max-width: 1500px) {
  .manga-group {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 1250px) {
  .manga-header {
    font-size: 5rem;
    margin: -5vh auto 0;
  }
  .manga-group {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 870px) {
  .manga-header {
    font-size: 3rem;
    margin: -3vh auto 0;
  }
  .manga-group {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 100px;
  }
}
@media (max-width: 600px) {
  .manga-button {
    display: block;
  }
  .manga-header {
    font-size: 2.5rem;
    margin: -5vh auto 0;
    z-index: 99;
    width: 70%;
  }
  .manga-section {
    display: none;
  }
}
.manga-group div {
  height: 355px;
  width: 226px;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  text-align: start;
}
.manga-group div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s;
}
.manga-group div img:hover {
  height: 105%;
}
