.songs-section {
  color: white;
  margin: 0 auto;
  margin-top: 10vh;
  width: 90%;
}

.opening-text {
  color: var(--main-color);
  font-size: 6rem;
  font-weight: bold;
  margin-bottom: 5vh;
}

.slider-wrapper {
  position: relative;
}

.slider-wrapper .slide-btn {
  position: absolute;
  top: 39%;
  height: 50px;
  width: 50px;
  color: white;
  background-color: rgba(0, 0, 0, 0.422);
  border: none;
  border-radius: 50%;
  font-size: 2.2rem;
  cursor: pointer;
  transform: translateY(-50%);
}
.slider-wrapper .slide-btn:hover {
  background-color: rgba(0, 0, 0, 0.702);
}
.slider-wrapper .slide-btn#prev-slide {
  left: -35px;
  z-index: 99;
  display: none;
}
.slider-wrapper .slide-btn#next-slide {
  right: -35px;
}

/* slider */
.slider-wrapper .img-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 18px;
  overflow-x: auto;
  scrollbar-width: none;
}
.slider-wrapper .img-list::-webkit-scrollbar {
  display: none;
}

.slider-wrapper .img-list .img-item {
  width: 522px;
  height: 400px;
  object-fit: cover;
}

.slider-wrapper .img-list .img-item img {
  width: 100%;
  object-fit: cover;
  border-radius: 2%;
  transition: all 0.15s;
}
.slider-wrapper .img-list .img-item img:hover {
  opacity: 70%;
}

.slider-wrapper .img-list .img-item h1 {
  margin-top: 20px;
}

.slider-wrapper .img-list .img-item p {
  color: rgb(191, 191, 191);
}

@media (max-width: 1250px) {
  .opening-text {
    font-size: 5rem;
  }
}

@media (max-width: 870px) {
  .opening-text {
    font-size: 4rem;
  }
  .slider-wrapper .img-list .img-item {
    width: 348px;
    height: 266px;
  }
}
@media (max-width: 600px) {
  .songs-section {
    padding-bottom: 2vh;
  }
  .opening-text {
    font-size: 2rem;
  }
  .slider-wrapper .img-list .img-item {
    width: 348px;
    height: 300px;
  }
}

/* ending */
.ending-text {
  color: var(--main-color);
  font-size: 6rem;
  font-weight: bold;
  margin-top: 5vh;
  margin-bottom: 5vh;
  width: 100%;
  text-align: end;
}
.slider-wrapper-two {
  position: relative;
}

.slider-wrapper-two .slide-btn-two {
  position: absolute;
  top: 39%;
  height: 50px;
  width: 50px;
  color: white;
  background-color: rgba(0, 0, 0, 0.422);
  border: none;
  border-radius: 50%;
  font-size: 2.2rem;
  cursor: pointer;
  transform: translateY(-50%);
}
.slider-wrapper-two .slide-btn-two:hover {
  background-color: rgba(0, 0, 0, 0.702);
}
.slider-wrapper-two .slide-btn-two#prev-slide-two {
  left: -35px;
  z-index: 99;
  display: none;
}
.slider-wrapper-two .slide-btn-two#next-slide-two {
  right: -35px;
}

/* slider */
.slider-wrapper-two .img-list-two {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 18px;
  overflow-x: auto;
  scrollbar-width: none;
}
.slider-wrapper-two .img-list-two::-webkit-scrollbar {
  display: none;
}

.slider-wrapper-two .img-list-two .img-item-two {
  width: 522px;
  height: 400px;
  object-fit: cover;
}

.slider-wrapper-two .img-list-two .img-item-two img {
  width: 100%;
  object-fit: cover;
  border-radius: 2%;
  transition: all 0.15s;
}
.slider-wrapper-two .img-list-two .img-item-two img:hover {
  opacity: 70%;
}

.slider-wrapper-two .img-list-two .img-item-two h1 {
  margin-top: 20px;
}

.slider-wrapper-two .img-list-two .img-item-two p {
  color: rgb(191, 191, 191);
}

@media (max-width: 1250px) {
  .ending-text {
    font-size: 5rem;
  }
}

@media (max-width: 870px) {
  .ending-text {
    font-size: 4rem;
  }
  .slider-wrapper-two .img-list-two .img-item-two {
    width: 348px;
    height: 266px;
  }
}
@media (max-width: 600px) {
  .songs-section-two {
    padding-bottom: 2vh;
  }
  .ending-text {
    font-size: 2rem;
  }
  .slider-wrapper-two .img-list-two .img-item-two {
    width: 348px;
    height: 300px;
  }
}
